@{
    ViewBag.Title = "Sign in Page";
    Layout = "~/Views/Shared/Master_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/FRONTEND/Master_Layout.css" rel="stylesheet" />
    <link href="~/Content/FRONTEND/Login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--~~~~~~~~~~~~~~~~~~~~~SIGN IN~~~~~~~~~~~~~~~~~~~~~-->

    <form action="/action_page.php" style="border:1px solid #ccc">
        <div class="container">
            <h1>Đăng ký</h1>
            <p>Vui lòng điền vào mẫu này để tạo tài khoản.</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>


            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>

</body>
</html>
